/* General Styling */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, #00aaff, #00ff88);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: url('images/fons.jpg') no-repeat center center;
    background-size: cover;
}

h1 {
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 30px;
    font-family: 'Lora', serif;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 273px;
}

p {
    font-size: 1.2rem;
    margin-top: 280px;
    color: #f1f1f1;
}

/* Game Area Styling */
#gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 233px;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    height: auto;
}

/* Card Styling */
.card {
    width: 150px;
    height: 230px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card.selected {
    border: 3px solid #0adf38;
    box-shadow: 0px 10px 20px rgba(0, 128, 0, 0.2);
}

/* Result Message Box Styling */
.message-box {
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 1.2rem;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.message-box.win {
    background: #4caf50;
    color: #fff;
    margin-top: 273px;
}

.message-box.draw {
    background: #fbc02d;
    color: #fff;
    margin-top: 273px;
}

.message-box.lose {
    background: #e57373;
    color: #fff;
    margin-top: 273px;
}

/* Button Styling */
button {
    padding: 15px 30px;
    background: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #283593;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: 30%;
        min-width: 100px;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
}
